*{
    margin: 0;
    padding: 0;
  }
.recipeCard {
  margin: auto;
}

.recipe-card-label {
  max-width: 300px;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 12px;
  background-color: rgb(155, 255, 163);
  padding: 2%;
  white-space: nowrap;
  border-radius: .5rem;
  overflow: hidden;
}
.recipe-card-image {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 4px solid rgb(155, 255, 163);
}
.recipe-card-image:hover{
    border: 4px solid black;
}